<% unless @questions.empty? %>
  <div class="pull-left span2">
    <label>Questions:</label>
  </div>
  <div class="pull-left">
    <% (1..10).each do |indx| %>
      <div>
        <% if @assessment_questions.nil? %>
          <%= select_tag "questions[]", options_from_collection_for_select(@questions, "id", "question") %>
        <% else %>
          <%= select_tag "questions[]", options_from_collection_for_select(@questions, "id", "question", @assessment_questions[indx]) %>
        <% end %>
        <br />
        <br />
      </div>
    <% end %>
  </div>
<% else %>
  <div class="pull-left span2">
    <label>Questions:</label>
  </div>
  <div class="pull-left">There are no questions for this category in the tool yet.</div>
<% end %>
<div class="clearfix"></div>