<div class="<%= @is_correct? 'success' : 'error' %>">
  <div class="justify">
    <strong><%= @is_correct? 'Correct' : 'Wrong' %></strong>
  </div>
  <% unless @is_correct %>
    <div class="justify"><%= 'Correct Option: ' + @correct_answer.option %></div>
  <% end %>
  <div class="justify"><%= 'Explanation: ' + @question.explanation %></div>  
</div>