<% content_for :title, @assessment.name %>
<br />
<h2><%= @assessment.name %></h2>
<div><%= @assessment.description %></div>
<br />
<div>
  <a href="<%= question_path(1, :assessment_id => @assessment.id) %>">
    <div class="big_button assessment_begin_button left" style="margin-right: 10px;">Begin</div>
  </a>
  <a href="<%= assessments_path %>">
    <div class="big_button assessment_next_button left" style="margin-right: 10px;">Quit</div>
  </a>
</div>