.shadow {
  -moz-box-shadow: -0.5px 2px 2px 2px #CCCCCC;
  border: 1px solid #CCCCCC;
  height: 1%;
  background: #fff;
}

.search_icon{
  margin: 3px 0px 0px 3px;
}

#navigation_bar{
  padding: 5px 0 3px;
  background: #00008B;
}

#navigation_bar ul{
  margin: 0;
}

#navigation_bar ul li{
  display: inline;
  list-style: none;
  color: #fff;
  font-size: 12px;
}

#navigation_bar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

p .justify{
  text-align: justify;
}

.big_button{
  height: 20px;
  width: 132px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background: #F0F6F9;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #346F97;
  background: #F0F6F9;
  vertical-align: middle;
}

#browseImages tr td{
  width: 223px;
  padding-left: 45px;
}

/* jCarousel Styles start */
.carousel{
  padding-left: 130px;
}

.jcarousel-skin-tango .jcarousel-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #F0F6F9;
  border: 1px solid #346F97;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 600px;
  padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 600px;
  height: 380px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 300px;
    height: 500px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 175px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 175px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
/* jCarousel Styles end */

/* Datatables Styles start */
#questionsTable{
  margin-top: 10px;
}

.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}

.dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
}

.paging_full_numbers {
	width: 350px !important;
}

.dataTables_wrapper .ui-toolbar {
	padding: 5px;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_info {
	padding-top: 3px;
}

div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}


/*
 * Sort arrow icon positioning
 */
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

.dataTables_wrapper {
	position: relative;
	_height: 302px;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 50%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right #C3D9FF;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right #C3D9FF;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right #C3D9FF;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right #C3D9FF;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
/* Datatables Styles end */

/* Jquery notes styles start */
/*----------------------------------------
    * Pseudo-Classes
----------------------------------------*/
.jquery-notes-container .clearfix:after {
    clear:both;
    content:".";
    height:0px;
    display:block;
    visibility:hidden;
}
/*----------------------------------------
    * Reset
----------------------------------------*/
.jquery-notes-container * {
    margin:0;
    padding:0;
    list-style:none;
    font-family:Verdana, Helvetica, sans-serif;
    font-size:10px;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
}
.jquery-notes-container div,
.jquery-notes-container img {
    border:none;
    background:none;
    outline:none;
}
/*----------------------------------------
    * Notes
----------------------------------------*/
.jquery-notes-container {
    position:relative;
}
.jquery-notes-container .notes {
    position:relative;
}
.jquery-notes-container .notes img {
    position:relative;
}
.jquery-notes-container .notes .note {
    position:absolute;
    display:none;
}
.jquery-notes-container .notes .offFocus {
    opacity:0.3;
}
.jquery-notes-container .notes .onFocus {
}
.jquery-notes-container .notes:hover .note {
    display:block;
}
.jquery-notes-container .notes .select {
    z-index:9990;
}
.jquery-notes-container .notes .note .ui-resizable-handle {
    position:absolute;
    height:10px;
    width:10px;
    background:url(../images/resize.png) no-repeat;
}
.jquery-notes-container .notes .note .ui-resizable-ne {
    right:0;
    top:0;
    cursor:ne-resize;
    background-position:-6px 2px;
}
.jquery-notes-container .notes .note .ui-resizable-nw {
    left:0;
    top:0;
    cursor:nw-resize;
    background-position:2px 2px;
}
.jquery-notes-container .notes .note .ui-resizable-se {
    right:0;
    bottom:0;
    cursor:se-resize;
    background-position:-6px -6px;
}
.jquery-notes-container .notes .note .ui-resizable-sw {
    left:0;
    bottom:0;
    cursor:sw-resize;
    background-position:2px -6px;
}
.jquery-notes-container .notes .note .border {
    position:relative;
    width:100%;
    height:100%;
    border:1px solid #fff;
    outline:1px solid #000;
}
.jquery-notes-container .notes .note .border .bg {
    position:relative;
    width:100%;
    height:100%;
    background:#fff;
    opacity:0.2;
}
.jquery-notes-container .notes .note .border .bg a {
    position:relative;
    width:100%;
    height:100%;
    display:block;
}
.jquery-notes-container .notes .text {
    position:absolute;
    padding:5px;
    margin-top:4px;
    line-height:10px;
    background:#000;
    display:none;
    border-radius:5px;
    opacity:0.9;
    z-index:9990;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.jquery-notes-container .notes .text span {
    color:#fff;
}
.jquery-notes-container .notes .text .author {
    font-style:italic;
}
.jquery-notes-container .notes .text .date {
    color:#999;
    font-size:8px;
    font-style:italic;
    display:block;
}
/*----------------------------------------
    * Loading
----------------------------------------*/
.jquery-notes-container .notes .layer {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#fff;
    opacity:0.7;
    z-index:9999;
    display:none;
}
.jquery-notes-container .notes .loading {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:9999;
    display:none;
}
.jquery-notes-container .notes .loading .message {
    position:relative;
    margin:0 auto;
    width:100px;
    line-height:25px;
    padding:0 5px 0 25px;
    color:#fff;
    font-weight:bold;
    text-align:center;
    background: url(../images/loader.gif) no-repeat 10px center #000;
    opacity:0.9;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
/*----------------------------------------
    * Notes Formular
----------------------------------------*/
.jquery-notes-container .notes .note .text-box {
    position:absolute;
    left:0;
    width:153px;
    margin-top:2px;
    z-index:9990;
}
.jquery-notes-container .notes .note .text-box textarea,
.jquery-notes-container .notes .note .text-box input {
    position:relative;
    padding:5px;
    margin-top:1px;
    width:120px;
    height: 150px;
    line-height:15px;
    font-family:verdana, sans-serif;
    font-size:10px;
    background:#fff;
    border:1px solid #777;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.jquery-notes-container .notes .note .text-box a {
    position:relative;
    margin:5px 2px 0 2px;
    height:16px;
    width:16px;
    display:block;
    background:#000;
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.jquery-notes-container .notes .note .text-box a.save-note {
    background-image:url(../images/save.png);
}
.jquery-notes-container .notes .note .text-box a.edit-note {
    background-image:url(../images/edit.png);
}
.jquery-notes-container .notes .note .text-box a.cancel-note {
    background-image:url(../images/cancel.png);
}
.jquery-notes-container .notes .note .text-box a.delete-note {
    background-image:url(../images/delete.png);
}
/*----------------------------------------
    * Controller
----------------------------------------*/
.jquery-notes-container .controller {
    position:relative;
}
.jquery-notes-container .controller a {
    position:relative;
    margin:2px;
    height:16px;
    width:16px;
    display:block;
    background:#000;
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.jquery-notes-container .controller a.counter {
    background-image:url(../images/notes.png);
}
.jquery-notes-container .controller a.add-note {
    background-image:url(../images/add.png);
}
.jquery-notes-container .controller a.cancel-note {
    background-image:url(../images/cancel.png);
}
.jquery-notes-container .controller a.hide-notes {
    background-image:url(../images/hide.png);
}
.jquery-notes-container .controller a.show-notes {
    background-image:url(../images/show.png);
}
.jquery-notes-container .controller a.reload-notes {
    background-image:url(../images/reload.png);
}
.jquery-notes-container .controller a.link {
    background-image:url(../images/link.png);
}
.helper-class .notes .note .border {
    border:1px solid #0055ff;
    outline:none;
}
.helper-class .notes .note .border .bg {
    background:#0055ff;
}
.helper-class .notes .text {
    color:#000;
    background:#fff;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
}
.helper-class .notes .text span {
    color:#000;
}
/* jquery notes style end */