body {
    background: url("../images/img01.jpg") repeat scroll left top #010000;
    color: #B9ADAA;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* Header and footer Styles start */

#header {
  padding:1.5em;
  margin-bottom:1.5em;
  background: none;
  width: 900px;
  margin: auto;
  height: 50px;
}

#header .logo h1 {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 2.5em;
  margin-bottom: 0;
}

#footer {
    font-family: Arial,Helvetica,sans-serif;
    color: #45302C;
    font-size: 10px;
    margin: 0 auto;
    width: 900px;
}

/* Header and footer Styles end */


/* Login Page Styles start */

.login {
  margin: auto;
  width: 450px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  border-bottom: 4px solid #F83025;;
}

.login .sign_up {
  margin-bottom: 5px;
}

.sign_in {
  margin: auto;
  width: 430px;
  margin-bottom: 20px;
}

.login .sing_in_button {
  margin-right: 16px;
  margin-bottom: 0px;
}

.login h2 {
    background-color: #F83025;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    height: 30px;
    letter-spacing: -0.5px;
    margin: 0 0 20px;
    padding: 4px 0 0 10px;
    text-align: left;
    text-shadow: -1px 1px 1px #720F12;
    font-weight: normal;
}

.login .forgot_password {
  padding: 10px 16px 0;
  text-align: right;
}

.login_content {
  padding-left: 10px;
}

.login .field {
  padding-bottom: 20px;
}

.login .remember_me {
  padding-bottom: 10px;
}

.login .label {
  width: 105px;
  text-align: right;
  padding-right: 10px;
}

/* Login Page Styles end */

/* Navigation menu syles start */

#menu {
    float: right;
    margin: 0 auto;
    padding: 0;
    margin-top: 15px;
}

#menu ul {
  list-style: none outside none;
  margin: 0;
}

#menu li {
    float: left;
}

#menu a {
  text-decoration: none;
  padding: 5px;
}

#menu a:hover {
    background-color: #F83025;
    text-shadow: -1px 1px 1px #720F12;
}

/* Navigation menu syles end */

#navigation_bar{
  padding: 5px 0 3px;
  background: #00008B;
}

#navigation_bar ul{
  margin: 0;
}

#navigation_bar ul li{
  display: inline;
  list-style: none;
  color: #fff;
  font-size: 12px;
}

#navigation_bar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

#admin_menu{
  padding: 5px 0 3px;
  margin-top: 20px;
  border-bottom: 1px dotted #CCCCCC;
}

#admin_menu ul{
  margin: 0;
  padding-left: 10px;
}

#admin_menu ul li{
  display: inline;
  list-style: none;
  font-size: 12px;
}

#admin_menu ul li a{
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

p .justify{
  text-align: justify;
}

.big_button{
  height: 20px;
  width: 132px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background: #F0F6F9;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #346F97;
  background: #F0F6F9;
  vertical-align: middle;
}

.assessment_begin_button{
  width: 45px;
  padding: 5px;
  background: #4CC417;
}

.assessment_summary_button{
  width: 75px;
  padding: 5px;
}

.assessment_reset_button{
  width: 45px;
  padding: 5px;
  background: lightcoral;
}
.assessment_next_button{
  width: 37px;
  padding: 5px;
}

.assessment_finish_button{
  width: 45px;
  padding: 5px;
}

.done_button{
  width: 41px;
  padding: 5px;
}

.submit_button{
  width: 54px;
  padding: 5px;
}

.previous_button{
  width: 72px;
  padding: 5px;
}

#browseImages tr td{
  width: 223px;
  padding-left: 45px;
}

/* jCarousel Styles start */
.carousel{
  padding-left: 130px;
}

.jcarousel-skin-tango .jcarousel-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #F0F6F9;
  border: 1px solid #346F97;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 600px;
  padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 600px;
  height: 380px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 300px;
    height: 500px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 175px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 175px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
/* jCarousel Styles end */

/* Datatables Styles start */
#questionsTable{
  margin-top: 10px;
}

.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}

.dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
}

.paging_full_numbers {
	width: 350px !important;
}

.dataTables_wrapper .ui-toolbar {
	padding: 5px;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_info {
	padding-top: 3px;
}

div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}


/*
 * Sort arrow icon positioning
 */
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

.dataTables_wrapper {
	position: relative;
	_height: 302px;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 50%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right #C3D9FF;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right #C3D9FF;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right #C3D9FF;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right #C3D9FF;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
/* Datatables Styles end */

/* Jquery notes styles start */
/*----------------------------------------
    * Pseudo-Classes
----------------------------------------*/
.jquery-notes-container .clearfix:after {
    clear:both;
    content:".";
    height:0px;
    display:block;
    visibility:hidden;
}
/*----------------------------------------
    * Reset
----------------------------------------*/
.jquery-notes-container * {
    margin:0;
    padding:0;
    list-style:none;
    font-family:Verdana, Helvetica, sans-serif;
    font-size:10px;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
}
.jquery-notes-container div,
.jquery-notes-container img {
    border:none;
    background:none;
    outline:none;
}
/*----------------------------------------
    * Notes
----------------------------------------*/
.jquery-notes-container {
    position:relative;
}
.jquery-notes-container .notes {
    position:relative;
}
.jquery-notes-container .notes img {
    position:relative;
}
.jquery-notes-container .notes .note {
    position:absolute;
    display:none;
}
.jquery-notes-container .notes .offFocus {
    opacity:0.3;
}
.jquery-notes-container .notes .onFocus {
}
.jquery-notes-container .notes:hover .note {
    display:block;
}
.jquery-notes-container .notes .select {
    z-index:9990;
}
.jquery-notes-container .notes .note .ui-resizable-handle {
    position:absolute;
    height:10px;
    width:10px;
    background:url(../images/resize.png) no-repeat;
}
.jquery-notes-container .notes .note .ui-resizable-ne {
    right:0;
    top:0;
    cursor:ne-resize;
    background-position:-6px 2px;
}
.jquery-notes-container .notes .note .ui-resizable-nw {
    left:0;
    top:0;
    cursor:nw-resize;
    background-position:2px 2px;
}
.jquery-notes-container .notes .note .ui-resizable-se {
    right:0;
    bottom:0;
    cursor:se-resize;
    background-position:-6px -6px;
}
.jquery-notes-container .notes .note .ui-resizable-sw {
    left:0;
    bottom:0;
    cursor:sw-resize;
    background-position:2px -6px;
}
.jquery-notes-container .notes .note .border {
    position:relative;
    width:100%;
    height:100%;
    border:1px solid #fff;
    outline:1px solid #000;
}
.jquery-notes-container .notes .note .border .bg {
    position:relative;
    width:100%;
    height:100%;
    background:#C0C0C0;
    opacity:0.2;
}
.jquery-notes-container .notes .note .border .bg a {
    position:relative;
    width:100%;
    height:100%;
    display:block;
}
.jquery-notes-container .notes .text {
    position:absolute;
    padding:5px;
    margin-top:4px;
    line-height:10px;
    background:#000;
    display:none;
    border-radius:5px;
    opacity:0.9;
    z-index:9990;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.jquery-notes-container .notes .text span {
    color:#fff;
    font-size: 15px;
}
.jquery-notes-container .notes .text .author {
    font-style:italic;
}
.jquery-notes-container .notes .text .date {
    color:#999;
    font-size:8px;
    font-style:italic;
    display:block;
}
/*----------------------------------------
    * Loading
----------------------------------------*/
.jquery-notes-container .notes .layer {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#fff;
    opacity:0.7;
    z-index:9999;
    display:none;
}
.jquery-notes-container .notes .loading {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:9999;
    display:none;
}
.jquery-notes-container .notes .loading .message {
    position:relative;
    margin:0 auto;
    width:100px;
    line-height:25px;
    padding:0 5px 0 25px;
    color:#fff;
    font-weight:bold;
    text-align:center;
    background: url(../images/loader.gif) no-repeat 10px center #000;
    opacity:0.9;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
/*----------------------------------------
    * Notes Formular
----------------------------------------*/
.jquery-notes-container .notes .note .text-box {
    position:absolute;
    left:0;
    width:153px;
    margin-top:2px;
    z-index:9990;
}
.jquery-notes-container .notes .note .text-box textarea,
.jquery-notes-container .notes .note .text-box input {
    position:relative;
    padding:5px;
    margin-top:1px;
    width:120px;
    height: 150px;
    line-height:15px;
    font-family:verdana, sans-serif;
    font-size:10px;
    background:#fff;
    border:1px solid #777;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.jquery-notes-container .notes .note .text-box a {
    position:relative;
    margin:5px 2px 0 2px;
    height:16px;
    width:16px;
    display:block;
    background:#000;
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.jquery-notes-container .notes .note .text-box a.save-note {
    background-image:url(../images/save.png);
}
.jquery-notes-container .notes .note .text-box a.edit-note {
    background-image:url(../images/edit.png);
}
.jquery-notes-container .notes .note .text-box a.cancel-note {
    background-image:url(../images/cancel.png);
}
.jquery-notes-container .notes .note .text-box a.delete-note {
    background-image:url(../images/delete.png);
}
/*----------------------------------------
    * Controller
----------------------------------------*/
.jquery-notes-container .controller {
    position:relative;
}
.jquery-notes-container .controller a {
    position:relative;
    margin:2px;
    height:16px;
    width:16px;
    display:block;
    background:#000;
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.jquery-notes-container .controller a.counter {
    background-image:url(../images/notes.png);
}
.jquery-notes-container .controller a.add-note {
    background-image:url(../images/add.png);
}
.jquery-notes-container .controller a.cancel-note {
    background-image:url(../images/cancel.png);
}
.jquery-notes-container .controller a.hide-notes {
    background-image:url(../images/hide.png);
}
.jquery-notes-container .controller a.show-notes {
    background-image:url(../images/show.png);
}
.jquery-notes-container .controller a.reload-notes {
    background-image:url(../images/reload.png);
}
.jquery-notes-container .controller a.link {
    background-image:url(../images/link.png);
}
.helper-class .notes .note .border {
    border:1px solid #0055ff;
    outline:none;
}
.helper-class .notes .note .border .bg {
    background:#0055ff;
}
.helper-class .notes .text {
    color:#000;
    background:#fff;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
}
.helper-class .notes .text span {
    color:#000;
}
/* jquery notes style end */

/* jqTransform styles start */

form.jqtransformdone div.rowElem{
	clear:both;
	padding:4px 0px;
}
/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
	font-family: Arial;
}

*:first-child+html button.jqTransformButton[type]{width: 1;} /* IE7 */

button.jqTransformButton span {
	background: transparent url(../images/btn_right.gif) no-repeat right top;
	display: block;
	float: left;
	padding: 0px 4px 0px 0px; /* sliding doors padding */
	margin: 0px;
	height: 33px;
}

button.jqTransformButton span span {
	background: transparent url(../images/btn_left.gif) no-repeat top left;
	color: #333;
	padding: 8px 4px 0px 8px;
	font-weight: normal;
	font-size: 12px;
	line-height: 13px;
	display: block;
	text-decoration: none;
	height: 33px;
}

/*hover*/
button.jqTransformButton_hover span span { background-position: left -33px ; }
button.jqTransformButton_hover span { background-position: right -33px ; }

/*clicked*/
button.jqTransformButton_click span span { background-position: left -66px ; }
button.jqTransformButton_click span { background-position: right -66px ; }

/* IE 6 */
* html button.jqTransformButton { height:33px; }
* button.jqTransformButton span span { height: 25px; }
/* IE 7 */
*+ html button.jqTransformButton { height:33px; }
*+ button.jqTransformButton span span { height: 25px; }


/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	background: transparent url(../images/input_text_left.gif) no-repeat left top;
	height: 31px;
	padding: 0px;
	float:left;
}

.jqTransformInputInner {
	background: transparent url(../images/input_text_right.gif) no-repeat top right;
	padding: 0px;
	margin: 0px;
}

.jqTransformInputInner div {
	height: 31px;
	margin:0px 0px 0px 8px;
}

.jqTransformInputInner div input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 18px;
	vertical-align: middle;
	height: 31px;
	color:#404040;
	border: none;
	padding: 8px 0px 0px 0px;
	margin: 0px;
	background:transparent;
}

/*  IE6 */
* html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin: 0 0 0 -8px;
	height:24px;
}
/* Ie7 */
*+ html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin-left:-10px;
	height:24px;
}

/*hover*/
.jqTransformInputWrapper_hover{ background-position: left -31px ;}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -31px ;}

/*focus*/
.jqTransformInputWrapper_focus{ background-position: left -62px ;}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -62px ;}



.jqTransformSafari .jqTransformInputInner div {
	position: relative;
	overflow: hidden;
	margin:0px 8px;
}
.jqTransformSafari .jqTransformInputInner div input {
	background-color: none;
	position: absolute;
	top: -10px;
	left: -2px;
	height: 42px;
	padding-left: 4px;
}



/* -------------
 * Textarea
 * ------------- */
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{
	font-size: 12px;
	line-height: 16px;
}

table.jqTransformTextarea td{
font-size: 1px;
line-height: 1px;
width: 5px;
height: 5px;
margin: 0;
padding: 0;
}
table.jqTransformTextarea{}
table.jqTransformTextarea tr{
/*border: 1px solid red;*/

}
table.jqTransformTextarea textarea{
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}
table.jqTransformTextarea td#jqTransformTextarea-tl{background: url(../images/textarea_tl.gif) no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-tm{background: url(../images/textarea_tm.gif) repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-tr{background: url(../images/textarea_tr.gif) no-repeat top left;}

table.jqTransformTextarea td#jqTransformTextarea-ml{background: url(../images/textarea_ml.gif) repeat-y top left;}
table.jqTransformTextarea td#jqTransformTextarea-mm{background: url(../images/textarea-mm.gif) repeat;}
table.jqTransformTextarea td#jqTransformTextarea-mr{background: url(../images/textarea_mr.gif) repeat-y top left;}

table.jqTransformTextarea td#jqTransformTextarea-bl{background: url(../images/textarea_bl.gif) no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-bm{background: url(../images/textarea_bm.gif) repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-br{background: url(../images/textarea_br.gif) no-repeat top left;}

/*hover*/
table.jqTransformTextarea-hover td#jqTransformTextarea-tl{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tm{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tr{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-ml{background-position:-5px 0px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-mm{background-image: url(../images/textarea-mm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-mr{background-position:-5px 0px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bl{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bm{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-br{background-position:0px -5px;}

/*focus*/
table.jqTransformTextarea-focus td#jqTransformTextarea-tl{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tm{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tr{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-ml{background-position:-10px 0px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-mm{background-image: url(../images/textarea-mm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-mr{background-position: -10px 0px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bl{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bm{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-br{background-position:0px -10px;}


table.jqTransformTextarea .jqTransformSafariTextarea div {
	position: relative;
	overflow: hidden;
	border: 0px solid red;
}
table.jqTransformTextarea .jqTransformSafariTextarea textarea{
	background: none;
	position: absolute;
	top:-10px;
	left:-10px;
	padding: 10px 10px 10px 10px;
	resize: none;
}


/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;}
.jqTransformRadio {
	background: transparent url(../images/radio.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:5px;
}
a.jqTransformCheckbox {
	background: transparent url(../images/checkbox.gif) no-repeat center top;
	vertical-align: middle;
	height: 16px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 45px;
	position:relative;
	height: 31px;
	background: url(../images/select_left.gif) no-repeat top left;
	float:left;
}

.jqTransformSelectWrapper div span {

	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 31px;
	line-height: 15px;
	padding: 8px 0 0 7px;
	overflow: hidden;
	cursor:pointer;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 31px;
	height: 31px;
	background: url(../images/select_right.gif) no-repeat center center;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

/* jqTransform Styles End */