<% content_for :title, "Not Authorized" %>
<div>
  <h2>403 error - Access denied</h2>
  <p>You are not authorized to view this page using credentials you supplied.</p>
  <p>Return to the <%= link_to 'Homepage', root_url %>.</p>
</div>