<% content_for :title, "Overview" %>
<% content_for :js_include, javascript_include_tag('jit-mod', 'tree') %>
<h2>Overview</h2>
<p class="justify">CytoSite content has been categorized as per the following hierarchy:</p>
<div id="infovis"></div>
<br /><br /><br />
<div id="infovis1"></div>
<% unless @categories.empty? %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var JSON = <%= category_tree_data(@categories, 'exfoliative').html_safe %>;
      initTreeView(JSON, 400, 'infovis', 325);
      JSON = <%= category_tree_data(@categories, 'needle').html_safe %>;
      initTreeView(JSON, 500, 'infovis1', 125);
    });

    jQuery('#overview_link a').addClass("selected");
  </script>
<% end %>