<div id="admin_menu">
  <ul>
    <li><%= compute_nav_style('Images', images_url, 'images').html_safe %></li>
    <li>&nbsp;|&nbsp;<%= compute_nav_style('Questions', questions_url, 'questions').html_safe %></li>
    <li>&nbsp;|&nbsp;<%= compute_nav_style('Self Assessment', assessments_url, 'assessments').html_safe %></li>
  </ul>
</div>