<!--Mega Menu Anchor-->
<a href="#" id="megaanchor1">By Categories</a>

<div id="megamenu1" class="megamenu">
  <%= render :partial => "common/sub_category", :collection => Category.children, :locals => {:level => 0} %>
</div>
