<div class="welcome span12">
  Welcome, <%= current_user.name %>!
</div>
<div id="header">
  <div class="pull-left">
    <h1><span style="color:navy;">Cyto</span><span style="color:skyblue;">Site</span></h1>
  </div>
  <div class="pull-right">
    <div class="clearfix"></div>
    <%= render :partial => 'common/main_menu' %>
  </div>
  <div class="clearfix"></div>
</div>