<div id="header">
  <div class="left">
    <%= image_tag 'logo.JPG' %>
  </div>
  <div class="register right">
    <a>Login</a>&nbsp;|&nbsp;
    <a>Register</a>&nbsp;|&nbsp;
    <a>Contact Us</a>
    <br />
    <input type="text" id="search" />
    <%= image_tag 'icon-search-small.gif' %>
  </div>
</div>