<div id="header">
  <div class="left">
    <%= image_tag 'logo.JPG' %>
  </div>
  <div class="register right">Welcome, <%= current_user.name %>!</div>
  <br />
  <div class="register right">
    <%= link_to 'Logout', destroy_user_session_path %>&nbsp;|&nbsp;
    <a>Contact Us</a>
  </div>
</div>