<div id="header">
  <div class="left logo">
    <h1>CytoSite</h1>
  </div>
  <div class="welcome right">
    <span class="user_det">
      <%= current_user.name %>
      <%= link_to(image_tag('dwn_arw.png'), '#', :id => 'user_settings') %>
    </span>
  </div>
  <%= render :partial => 'common/dialog_boxes' %>
  <%= render :partial => 'common/main_menu' %>
</div>