<div id="header">
  <div class="pull-left">
    <h1><span style="color:navy;">Cyto</span><span style="color:skyblue;">Site</span></h1>
  </div>
  <div id="menu" class="pull-right">
    <ul>
      <li><a>Contact Us</a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>