<div id="navigation_bar">
  <ul>
    <li><%= link_to 'Home', root_url %>&nbsp;|&nbsp;</li>
    <li><%= link_to 'Overview', overview_url %>&nbsp;|&nbsp;</li>
    <li><a>Images</a>&nbsp;|&nbsp;</li>
    <li><a>Cases</a>&nbsp;|&nbsp;</li>
    <li><a>Self Assessment</a>&nbsp;|&nbsp;</li>
    <li><a>Submit Cases</a>&nbsp;|&nbsp;</li>
    <li><a>Contributors</a>&nbsp;|&nbsp;</li>
    <li><%= link_to 'Upload', questions_url %></li>
  </ul>
</div>