<div id="navigation_bar">
  <ul>
    <li><%= link_to 'Home', root_url %></li>
    <li>&nbsp;|&nbsp;<%= link_to 'Overview', overview_url %></li>
    <li>&nbsp;|&nbsp;<%= link_to 'Images', images_url %></li>
    <li>&nbsp;|&nbsp;<a>Self Assessment</a></li>
    <% if current_user.admin? %>
      <li>&nbsp;|&nbsp;<%= link_to 'Admin', images_url %></li>
    <% end %>
  </ul>
</div>