<!--Mega Menu Anchor-->
<a href="#" id="megaanchor1" class="btn" style="margin-right: 10px;">Show Categories</a>
<div id="megamenu1" class="megamenu">
  <%= render :partial => "sub_category", :collection => Category.children, :locals => {:level => 0} %>
</div>
